
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>The Pointless Magician</h1>
    <br />
    <h2>Learn everything you don't need ASAP; just like magic.</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>(Kind of) Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with introverted teachers, ready to teach their souls away.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Choose Your Pace.</h3>
    <br />
    <p>Drop some cash and access our courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our Squad</h3>
    <br />
    <p>Learn with a group of like-minded, ultra sarcastic individuals.</p>
  </div>
</div>